<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>463517057371-fhqar6aa6f0nr04dknovjsk946ro977i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.463517057371-fhqar6aa6f0nr04dknovjsk946ro977i</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>463517057371-el5s2n0ii1qdpv6ptbq3p2t04jtv7crg.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBGdIeeYagEkoBye3dENc6gcjc2guc7TFs</string>
	<key>GCM_SENDER_ID</key>
	<string>463517057371</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.nftMarketplace</string>
	<key>PROJECT_ID</key>
	<string>nft-marketplace-d4250</string>
	<key>STORAGE_BUCKET</key>
	<string>nft-marketplace-d4250.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:463517057371:ios:384f38b1aecacaea80da7e</string>
</dict>
</plist>